body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: cornflowerblue;
}

.card {
    width: 0%;
    height: 350px;
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: ease-in-out 0.4s;
}

.card:hover {
    width: 550px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

img {
    height: 100%;
    border-radius: 10px;
    margin: 0 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.content {
    overflow: hidden;
    text-align: center;
}

.card p {
    font-size: 1.2rem;
}

.superman {
    color: royalblue;
    font-size: 3rem;
}

.batman {
    color: red;
    font-size: 3rem;
}

.wonderwoman {
    color: gold;
    font-size: 3rem;
}
