body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: cornflowerblue;
}

.card {
    width: 350px;
    height: 150px;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 40px 60px;
    background-color: white;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

.card:hover {
    height: 400px;
}

.imgbox {
    width: 100%;
    height: 100%;
    transform: translateY(-90px);
    position: relative;
    z-index: 1;
}

img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.content {
    text-align: center;
    transform: translateY(-250px);
    opacity: 0;
    transition: ease-in-out 0.4s;
}

.card:hover .content {
    opacity: 1;
    transform: translateY(-290px);
}

.superman {
    color: crimson;
}
.batman {
    color: royalblue;
}
p {
    font-size: 1.5rem;
}
